<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="flac_player_form.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<userSettings>
        <flac_player_form.Properties.Settings>
                <setting name="background_animated" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="background_file" serializeAs="String">
                        <value>/assets/background.gif</value>
                </setting>
                <setting name="background_fillColor" serializeAs="String">
                        <value>21, 155, 179</value>
                </setting>
                <setting name="background_layout" serializeAs="String">
                        <value>none</value>
                </setting>
                <setting name="controls_nextBackColor" serializeAs="String">
                        <value>25, 25, 25</value>
                </setting>
                <setting name="controls_playPauseBackColor" serializeAs="String">
                        <value>25, 25, 25</value>
                </setting>
                <setting name="controls_previousBackColor" serializeAs="String">
                        <value>25, 25, 25</value>
                </setting>
                <setting name="controls_repeatBackColor" serializeAs="String">
                        <value>25, 25, 25</value>
                </setting>
                <setting name="controls_shuffleBackColor" serializeAs="String">
                        <value>25, 25, 25</value>
                </setting>
                <setting name="controls_shuffleRepeatBorderColor" serializeAs="String">
                        <value>White</value>
                </setting>
                <setting name="trackSlider_barInnerColor" serializeAs="String">
                        <value>Black</value>
                </setting>
                <setting name="trackSlider_barPenColorBottom" serializeAs="String">
                        <value>87, 94, 110</value>
                </setting>
                <setting name="trackSlider_barPenColorTop" serializeAs="String">
                        <value>55, 60, 74</value>
                </setting>
                <setting name="trackSlider_elapsedInnerColor" serializeAs="String">
                        <value>128, 255, 255</value>
                </setting>
                <setting name="trackSlider_elapsedPenColorBottom" serializeAs="String">
                        <value>Teal</value>
                </setting>
                <setting name="trackSlider_elapsedPenColorTop" serializeAs="String">
                        <value>0, 192, 192</value>
                </setting>
                <setting name="trackSlider_thumbInnerColor" serializeAs="String">
                        <value>51, 114, 166</value>
                </setting>
                <setting name="trackSlider_thumbOuterColor" serializeAs="String">
                        <value>22, 147, 173</value>
                </setting>
                <setting name="trackSlider_thumbPenColor" serializeAs="String">
                        <value>63, 103, 199</value>
                </setting>
                <setting name="ui_backgroundColor" serializeAs="String">
                        <value>25, 25, 25</value>
                </setting>
                <setting name="ui_primaryColor" serializeAs="String">
                        <value>91, 176, 225</value>
                </setting>
                <setting name="ui_textColor" serializeAs="String">
                        <value>White</value>
                </setting>
                <setting name="ui_textFont" serializeAs="String">
                        <value>Arial, 9pt</value>
                </setting>
                <setting name="volumeSlider_barInnerColor" serializeAs="String">
                        <value>Black</value>
                </setting>
                <setting name="volumeSlider_barPenColorBottom" serializeAs="String">
                        <value>87, 94, 110</value>
                </setting>
                <setting name="volumeSlider_barPenColorTop" serializeAs="String">
                        <value>55, 60, 74</value>
                </setting>
                <setting name="volumeSlider_elapsedInnerColor" serializeAs="String">
                        <value>128, 255, 255</value>
                </setting>
                <setting name="volumeSlider_elapsedPenColorBottom" serializeAs="String">
                        <value>Teal</value>
                </setting>
                <setting name="volumeSlider_elapsedPenColorTop" serializeAs="String">
                        <value>0, 192, 192</value>
                </setting>
                <setting name="volumeSlider_thumbInnerColor" serializeAs="String">
                        <value>51, 114, 166</value>
                </setting>
                <setting name="volumeSlider_thumbOuterColor" serializeAs="String">
                        <value>22, 147, 173</value>
                </setting>
                <setting name="volumeSlider_thumbPenColor" serializeAs="String">
                        <value>63, 103, 199</value>
                </setting>
        </flac_player_form.Properties.Settings>
    </userSettings>
</configuration>